/*----------------------------------------------*/
/*---------------------HOME---------------------*/
/*----------------------------------------------*/

.homeimg{
    position: absolute;
    width: 100%;
}
/*---------------------menu---------------------*/

#home {
  margin: 0;
  -webkit-perspective: 1000;
 position: relative;
    width: 60%;
    left: 20%;
    height: 720px;
    background-size: cover;
}

.menu, .menu-bg, .menu-burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  right: 25px;
  top: 25px;
  
}

.menu-bg {
  border: 1px solid;
  border-color:black;
  pointer-events: none;
  transition: .3s;
  right: 50px;
  top: 50px;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
}
.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}

.menu-burger {
  color: black;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
}
.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
}

.menu-items {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: .4s;
  margin-top: 100px;
  transform: translateY(-200%);
  pointer-events: none;
  z-index: 1;
}
.menu-items div {
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}
.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}
.menu-items.fs div {
  opacity: 1;
  margin-top: 75px;
}
a {
  text-decoration: none;
  color:white;
}

.menu-items.fs .mail {
  opacity: 1;
  margin-bottom: 75px;
}

.logo{
    padding-top: 24px;
}

/*---------------------homePage-----------------*/
.homePage{
    position: absolute;
    top: 30%;
    left: 20%;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 70px;
    padding-bottom: 20px;
}
h2{
    font-family: 'open sans condensed';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 40px;
}

.line{
    width: 216px;
    border: solid 1px;
    margin-left: 145px;
}
.psd{
    font-family: 'open sans condensed';
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}
.mouse{
    margin-left: 253px;
    padding-top: 25px;
}

/*--------------------------------------------*/
/*-------------------OUR SERVICE--------------*/
/*--------------------------------------------*/
#section2{
    background-color: black;
    height:850px;
}

.ourService{
    width: 60%;
    margin-left: 255px;
}

h3{
    color:white;
    font-family: 'Montserrat';
    font-size: 30px;
    padding-top: 90px;
    padding-bottom: 60px;
}
#blocicon{
    display: inline-block;
    width: 32%;
    padding-bottom: 100px;

}
.padding{
    padding-right: 11px;
}

.icon{
    padding-left: 12px;
    padding-bottom: 5px;
    width: 15%;
}
.line2{
    width: 60px;
    border: solid 1px;
    border-color: #666666;
    margin-bottom: 10px;
}

h4{
    color:white;
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 10px;

}

#blocicon p{
    font-family: 'open sans condensed';
    color: #666666;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.8px;
}

/*--------------------------------------------*/
/*-------------------3-picture----------------*/
/*--------------------------------------------*/

#home3{
    background-color: black;
    height: 1350px;
}
.whitepic{
    position: relative;
}
#pic{
    width: 19.84%;
    border:solid 1px;
    display: inline-block;
    float: left;
    border-color: black;
    background-color: white;
    
}
.pic1{
    height: 376px;
    
}
.pic2{
    height: 317px;
}
.pic3{
    height: 257px;
}
.pic4{
    height: 287px;
}
.pic5{
    height: 377px;
    
}
.pic6{
    height:428px;
    position: relative;
    top: -2px;
}
.pic7{
    height:428px;
    position: relative;
    top: -61px;
}
.pic8{
    height:428px;
    position: relative;
    top: -121px;;
}
.pic9{
    height:428px;
    position: relative;
    top: -91px;
}
.pic10{
    height:428px;
    float:right;
    position: relative;
    top: -1px;
}
/*--------------------------------------------*/
.blochoverbis{
    margin-top: 121%;
}
#blochover{
    width: 100%;
    height: 121px;
    background: linear-gradient(to right,#ffcc00  , #ff6600);            
    text-align: center;  
}
.title1{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    color:white;
    display: inline-block;
    margin-top: 30px;
}
.line3{
    border: solid 1px;
    width: 125px;
    margin: 15px 0px 15px 65px;
    color: white;
    
}
.view{
    font-family: 'Montserrat';
    font-size: 12px;
}
/*--------------------------------------------*/
.viewMore{
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    color:white;
    display: inline-block;
    background: linear-gradient(to right,#ffcc00  , #ff6600);
    margin-top: 100px;
    padding: 10px 300px 10px 300px;
    margin-left: 300px;
    background-color: red; 
}
/*--------------------------------------------*/

.work{
    width: 60%;
    margin-left: 255px;
}
#blocWork{
    width: 32%;
    display: inline-block;
}
.padding2{
    margin-right: 11px;
}
.number{
    font-family: 'Montserrat';
    font-size: 70px;

    font-weight: bold;
    color: white;
    display: inline-block;
}
.numberLetter{
    font-family: 'open sans condensed';
    color: #666666;
    font-size: 26px;
    display: inline-block;
    position: relative;
    top: -30px;
}
.line4{
    background: linear-gradient(to right,#ffcc00  , #ff6600);
    width: 164px;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 15px;
}
p{
   font-family: 'open sans condensed';
    color: #666666;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.8px; 
}

/*--------------------------------------------*/
/*-----------------Our Cliente----------------*/
/*--------------------------------------------*/

#home4{
    background: linear-gradient(to right,#ffcc00  , #ff6600);
    height: 400px;
    
}
.home4bloc{
    width: 60%;
    margin-left: 255px;
    
}
.position{
    top: 6px;
    position: relative;
}
#logohome4{
    width: 19%;
    display: inline-block;
    margin-right: 43px;
}
.secondbloc{
    margin-top: 40px;
}

/*--------------------------------------------*/
/*-----------------Plan-----------------------*/
/*--------------------------------------------*/
#home5{
    background-color: black;
    height: 750px;
}
.plan{
    width: 60%;
    margin-left: 255px;  
}

.planbox{
    width: 23%;
    height: 450px;
    border: 1px solid;
    border-color: white;
    display: inline-block;
}
#padding3{
    margin-right: 10px;
}
.planboxsize{
    width: 80%;
    margin-left: 17px;
}
.choise{
    font-family: 'Montserrat';
    color:white;
    font-size:20px;
    padding-top: 15px;
}
.livre{
    color:#666666;
    font-family: 'open sans condensed';
    margin-left: 80px;
    display: inline-block;
    margin-top: 13px;
    font-weight: bold;
}
.price{
    color:white;
    font-family: 'Montserrat';
    font-size:40px;
    display: inline-block;
    float: right;
    margin-top: 20px;
}
.line5{
   background: linear-gradient(to right,#ffcc00  , #ff6600);
    width:141px;
    height: 2px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#line5b{
   margin-bottom: 15px; 
}

.carac{
   font-size: 15px;
    margin-bottom: 15px;
}

.color{
    color:white;
}

.order{
    font-family: 'Montserrat';
    font-size:15px;
    margin-left: 20px;
    text-align: center;
    
}

/*--------------------------------------------*/
/*---------------skills-----------------------*/
/*--------------------------------------------*/

#home6{
    background-color: black;
    height: 700px;
}

.pourcent{
    margin-top: 10px;
}

.photoshop{
    font-family: 'Montserrat';
    font-size:17px;
    font-weight: bold;
    color: white;
    display: inline-block;
    padding-right: 5px;
}
.pourcentimg{
    width: 45%;
}
.pourcentimg2{
    width: 23%;
}

.prix{
    font-family: 'Montserrat';
    font-size:40px;
    color:white;
    display: inline-block;
}
.pourcentage{
    font-size:17px;
    color:#666666;
    font-family: 'open sans condensed';
    position: relative;
    top: -20px;
}

.all{
    display: inline-block;
        margin-right: 25px;
}
.all2{
    display: inline-block;
}


/*-------------swiper-------------------------------*/

.swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .append-buttons {
        text-align: center;
        margin-top: 20px;
    }
    .append-buttons a {
        display: inline-block;
        border: 1px solid #007aff;
        color: #007aff;
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 13px;
    }

.rond{
    width: 100%;
}
.line6{
    background: linear-gradient(to right,#ffcc00  , #ff6600);
    width: 78px;
    height: 2px;
    margin-top: 10px;
}

.textswiper{
    margin-top: 40px;
}
.sarbat{
    font-family: 'Montserrat';
    font-size:20px;
    color: white;
    text-align: initial;
    margin-left: 30px;
}

.text{
    font-size: 15px;
    color: #666666;
    font-family: 'open sans condensed';
    text-align: initial;
    margin: 10px 0px 10px 30px
}

.autor{
    font-size: 15px;
    color: white;
    font-family: 'open sans condensed';
    font-style: italic;
    left: -85px;
    position: relative;
    
}
.city{
    font-size: 15px;
    color: #666666;
    font-family: 'open sans condensed';
}

.swiper-container swiper-container-horizontal{
    margin-top: 80px;
}

/*--------------------------------------------*/
/*---------------lasted post------------------*/
/*--------------------------------------------*/

#home7{
    background-color: black;
    height: 850px;
}
.postdate{
    display: inline-block;
    margin-left: 115px;
}
.postdate2{
    display: inline-block;

}

.numberpost{
    font-family: 'Montserrat';
    font-size:45px;
    color:white;
    display: inline-block;
}
.month{
    font-size: 15px;
    color: #666666;
    font-family: 'open sans condensed';
    display: inline-block;
    position: relative;
    top: -20px;
}
.line7{
    background: linear-gradient(to right,#ffcc00  , #ff6600);
    width: 64px;
    height: 2px;
    margin-top: 10px;
}

.textpost{
    width: 67%;
    font-family: 'Montserrat';
    font-size: 17px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.readpost{
    font-family: 'Montserrat';
    font-size: 12px;
    color: white;
}

/*-----------------sociaux---------------------------*/
.reseausociaux{
    margin-top: 100px;
    margin-bottom: 100px;
}
.face{
    border: 1px solid;
    border-color: #666666;
   padding: 10px 140px 10px 140px;
}
#face2{
    padding-top: 14px;
}
#face3{
    padding-top: 11px;
}

.face:hover{
     background: linear-gradient(to right,#ffcc00  , #ff6600);
}

/*-----------------last bloc---------------------------*/
.lastbloc1{
    width: 50%;
    margin-bottom: 20px;
}
.lasttitle1{
    font-family: 'Montserrat';
    font-size: 14px;
    color: white; 
}
.lasttext1{
    font-size: 8px;
    color: #666666;
    font-family: 'open sans condensed';
    display: inline-block;
}
.lastbloc2{
    display: inline-block;
    margin-right: 80px;
}
.lastbloc3{
    display: inline-block;
    position:relative;
    top:-20px
}
.lasttext2{
    font-size: 8px;
    color: #666666;
    font-family: 'open sans condensed';
}

/*-----------------formuaire---------------------------*/

.formulairebloc{
    display: inline-block;
    position: relative;
    left: 371px;
    top: -169px;
}

.formulaire{
    background-color: black;
    margin-bottom: 10px;
    border-top: black;
    border-left: black;
    border-right: black;
    border-bottom-color: #666666;
    outline: none;
    color: white;
    font-family: 'open sans condensed';
    width: 395px;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    color: #666666;
    font-family: 'open sans condensed';
}

.buton{
    padding:10px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: white;
    background: linear-gradient(to right,#ffcc00  , #ff6600);
    position: relative;
    top: -100px;
    left: 236px;
    
}
/*--------------------------------------------*/
/*---------------flooter------------------*/
/*--------------------------------------------*/
#flooter{
    background: linear-gradient(to right,#ffcc00  , #ff6600);
    height: 70px;
}

.flootertext{
    color:white;
    text-align: center;
    font-family: 'open sans condensed';
    font-size: 14px;
    padding-top: 26px;
    
}












